<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>ENS域名辅助注册系统 - 域名注册</title>
    <link rel="stylesheet" type="text/css" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/register.css">
    <script type="text/javascript" src="/static/lib/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/reg.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="background"></div>
    <script>var token="{{domain}}"</script>
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-sm12 layui-col-xs12 layui-col-lg12 header">
            <h1>ENS(以太坊名称解析服务)</h1>
            <p>ENS 将会是连接以太坊和互联网的桥梁，通过ENS你可以将容易记住的（例如<strong>balala.eth</strong> ）域名解析到你的地址（例如：0x11767c122Dd7B9F0F3e97a195f0CBA0a64c0C9c8）上， 通过短域名就可以实现转账等操作。也可以解析到<strong>IPFS</strong>上的资源文件，甚至‘动态网站’。</p>
        </div>
    </div>
    <br />
    <div class="layui-row">
        <div class="layui-col-md12 desc" id="func1">
            <h1>注册方式1.</h1>
            <span>(如果您有metamask或imtoken)</span>
            <div>
                如果您有以太坊交互工具（如小狐狸）直接点击下方按钮将会与合约交互，并且支付<strong>0.01</strong>以太后合约会自动为您注册一个域名，形如: <strong>i.balala.eth</strong> 并自动解析到您<strong>当前的</strong>以太坊账号。
            </div>
            <hr />
            <button class="layui-btn layui-btn-primary button" id="check">是的没错，就是我这个按钮⚆_⚆</button>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12 desc" id='func2'>
            <h1>注册方式2.</h1>
            <span>(如果没有任何交互工具)</span>
            <div>
                如果你现在没有任何工具，或者不方便使用。可以+我的微信<strong>balala-eth</strong>，<strong>攀谈交心</strong>后我会给你一个<strong>Key</strong>。在下方输入Key并点击确认就能触发合约获得你的域名了！
            </div>
            <hr />
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md3 layui-col-xs9 layui-col-sm8">
            <div class="layui-input-inline" style="width: 100%">
                <input type="text" id="key" required lay-verify="required" autocomplete="off" class="layui-input text">
            </div>
        </div>
        <div class="layui-col-md1 layui-col-sm2 layui-col-xs3">
            <button class="layui-btn layui-btn-primary button" style="margin-left: 1rem" id="submit">确认提交⚆_⚆</button>
        </div>
    </div>
    <br/>
</body>
</html>